{{ if (.Context.Scratch.Get "TOCEnabled") }}
    <section class="widget archives">
        <div class="widget--toc">
            <div style="display: flex; flex-direction: row; align-items: center; gap: 0.5rem; padding-top: 1rem; padding-left: 1rem; border-bottom: 1.5px solid var(--card-separator-color);">
                <div class="widget-icon" style="width: 32px; height: 32px;">
                    {{ partial "helper/icon" "hash" }}
                </div>
                <h2 class="widget-title section-title" style="text-anchor: middle">{{ T "article.tableOfContents" }}</h2>
            </div>
            {{ .Context.TableOfContents }}
        </div>
    </section>
{{ end }}